#mainframe {
    margin-left:auto;
    margin-right:auto;
    width:30%;
    background-color:#F2F2F2;
    border-radius:20px;
    padding:20px;
    text-align:center;
}

form {
    border-style:solid;
    border-width:1px;
    border-radius:5px;
    padding:6px;
    margin:6px;
}

form select {
    display:inline;
}

.form_row {
    vertical-align:bottom;
}