
.column-left {
    float:left;
    width:50%;
}

.column-right {
    float:right;
    width:50%;
}


.entryformcontainer {
    text-align:center;
    background-color:#F2F2F2;
    border-style:solid;
    border-width:1px;
    border-radius:5px;
    padding:6px;
    margin:6px;
}


.messages li {
    list-style-type:none;
}

.form_row {
    display:block;
}



ul.errorlist, ul.errorlist li{
    display:inline-block;
}

.errorlist, .customMessage {
    background:#FFFF99;
    border-width:1px;
    border-style:solid;
    text-align:center;
}