<!DOCTYPE html>
<html>
<head>
    <title>Add Data</title>
    <link rel="stylesheet" href="/static/bovidecoapp/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>

    </script>
</head>
<body>
<div id="mainframe">
    <h2>Add Data</h2>
    <h2>{{ specimen.museum.code }} {{ specimen.collection.code }} {{ specimen.localityNumber }}-{{ specimen.specimenNumber}}{% if specimen.specimenPart %}{{ specimen.specimenPart }}{% endif %}</h2>
    <h3>{{ specimen.taxon }}</h3>

    {% if messages %}
        <ul class="messages">
           {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h4 class="customMessage">{{ message }}</h4></li>
           {% endfor %}
        </ul>
     {% endif %}

        <form action="/add_data/{{ specimen.id }}/" method="post">{% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}

        <div class="form_row">
            {{ form.errors.value }}
            {{ form.as_table }}
        </div>

        {% endfor %}

        <input type="hidden" value="{{ to_measure }}" id = "measurementIDs">
        <input type="submit" value="submit">
        </form>

        <img src="/static/bovidecoapp/images/Calcaneus_Measurements_lines.jpg" width="100%">

</div>
</body>



<script>

    $( document ).ready(function() {
        var to_measure = {{ to_measure|safe }}
        jQuery.each(to_measure, function( key, value) {
            var selector = "#id_measurement_set-" + key + "-MetricCharacter"
            $(selector).val(value.id);
                });
        $("label").remove();

        //override default behavior when pressing enter
        //new behavior is to advance tab focus by 2 fields
        //this makes footpedal caliper measuring easier
        $("input").keydown( function(e) {
            if(e.keyCode==13){
                var form = $("form")
                var focusable = form.find('input,a,select,button,textarea').filter(':visible');
                var next = focusable.eq(focusable.index(this)+2);
                next.focus()
                return false;
            }

            });


        });


    </script>


</html>